*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

html,
body {
  width: 100%;
  height: 100%;

  @include scrollbar;
  overflow-y: auto;
  overflow-x: hidden;

  & .color-weak {
    filter: invert(80%);
  }

  & .color-grey {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }

  & .theme-dark {
    filter: invert(1) hue-rotate(180deg) brightness(0.7);
  }
}
