#footer-container {
  @include toggleSidebar();
  height: $--layout-footer-height;
  z-index: $--layout-zindex;
  background: $custom;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
}
