#header-container {
  /* @include toggleSidebar; */
  /* @include testHeader; */

  /* height: $--layout-header-height; */
  transition: all 0.3s;
  width: 100vw;
  z-index: 1888;
  background: $custom;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);

  /*   .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  } */

  .header_left-container {
    display: inline-block;

    .header_left-item_con {
      line-height: 50px;

      .header-left-item {
        cursor: pointer;
        font-size: 20px;
        color: white;
        margin: 14px 0 0 3px;
      }
    }
  }

  .header_right-container {
    float: right;
    margin-right: 1rem;

    .header_right-item_con {
      line-height: 50px;

      .header-right-item {
        cursor: pointer;
        font-size: 24px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.15);
        transition: background 0.3s;
      }
    }
  }
}
