#app {
  .app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;
  }

  #main-wrapper {
    min-height: 100%;
    position: relative;

    #main-container {
      min-height: calc(
        100vh - #{$--layout-header-height} - #{$--layout-tags-height} - #{$--layout-footer-height}
      );
      position: relative;

      @include fixFooter;
      @include fixHeader;
      @include toggleSidebar;
      transition: margin-left 0.3s;
    }
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}
