#app {
  #app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;

    #content-wrapper {
      position: relative;

      #main-wrapper {
        position: relative;
        background-color: lightgrey;
        padding: 1rem;
        transition: all 0.3s;
      }
    }
  }
}

.fixed-header {
  z-index: $--layout-z-index;
  position: fixed;
  top: 0;
  right: 0;
}

.fixed-footer {
  z-index: $--layout-z-index;
  position: fixed;
  bottom: 0;
  right: 0;
}
