#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
}

.w-highlight {
  background-color: rgba(236, 245, 255, 0.8);
  color: rgba(102, 177, 255, 0.8);
}