@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin toggleSidebar($width: calc(100vw - #{$--layout-sidebar-width}), $ml: $--layout-sidebar-width) {
  @if $--layout-sidebar-render = "false" {
    margin-left: 0;
    width: 100vw;
  } @else {
    margin-left: $ml;
    width: $width;
  }

  [toggleSidebar="false"] & {
    margin-left: 0;
    width: 100vw;
  }

  [toggleSidebar="true"] & {
    margin-left: $ml;
    width: $width;
  }
}

@mixin fixFooter($mb: $--layout-footer-height) {
  @if $--layout-footer-render = "false" {
    margin-bottom: 0;
  } @else {
    margin-bottom: $mb;
  }

  [fixFooter="false"] & {
    margin-bottom: 0;
  }

  [fixFooter="true"] & {
    margin-bottom: $mb;
  }
}

@mixin fixHeader($mt: calc(#{$--layout-header-height} + #{$--layout-tags-height})) {
  @if $--layout-header-render = "false" {
    margin-top: 0;
  } @else {
    margin-top: $mt;
  }

  [fixHeader="false"] & {
    margin-top: 0;
  }

  [fixHeader="true"] & {
    margin-top: $mt;
  }
}

@mixin testHeader() {
  display: inherit;

  [testHeader="false"] & {
    display: none;
  }

  [testHeader="true"] & {
    display: inherit;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
