/* custom */
$custom: #3a71a8;

/* base color */
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

/* sidebar */
$menuText: #333;
$menuActiveText: #ba0713;
/* https://github.com/ElemeFE/element/issues/12951 */
$subMenuActiveText: #ba0713;

$menuBg: rgb(226, 207, 207);
$menuHover: rgb(230, 191, 191);

$subMenuBg: #f2f2f2;
$subMenuHover: #ba0713;
$subMenuHoverText: #fff;

$--layout-headerHeight: 50px;
$--layout-tagsHeight: 30px;
$--layout-footerHeight: 20px;
$--layout-sideBarWidth: 200px;
$--layout-zindex: 1001;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  custom: $custom;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuHoverText: $subMenuHoverText;

  $--layout-sideBarWidth: $--layout-sideBarWidth;
  $--layout-tagsHeight: $--layout-tagsHeight;
  $--layout-footerHeight: $--layout-footerHeight;
  $--layout-headerHeight: $--layout-headerHeight;
  $--layout-zindex: $--layout-zindex;
}
