@import "./global.scss";
@import "./variables.scss";
@import "./common.scss";
@import "./transition.scss";
@import "./mixins/index.scss";

@import "./layout/TheFooter.scss";
@import "./layout/TheHeader.scss";
@import "./layout/TheLogo.scss";
@import "./layout/TheMain.scss";
@import "./layout/TheSidebar.scss";
@import "./layout/ThsTags.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  /* font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif; */
  box-sizing: border-box;
  overflow: hidden;
  font-size: 10px;
  font-family: "Microsoft Yahei", "PingFang SC", Avenir, "Segoe UI", "Hiragino Sans GB", STHeiti, "Microsoft Sans Serif",
    "WenQuanYi Micro Hei", sans-serif;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul {
  list-style: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.txa {
  text-align: center;
}

div:focus {
  outline: none;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.pointer {
  cursor: pointer;
}
